.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: adineue-light;
    color: $gray-light;
    
    .login-wrapper {
        // background-color: $gray;
        border-radius: 5px;
        padding: 20px;
        opacity: 0.8;
    }
    .login-title {
        display: flex;
        justify-content: center;
        margin: 1.5em 0;
        color: $gray;
        // color: $white;
        font-size: 2em;    

    }

    .login-form {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        // align-items: center;
        place-items: center;
        gap: 2em;                
        max-width: 20em;
        font-size: 1em;
        border-radius: 5px;
        text-align: left;
        color: $gray-light;
        
        .login-label {
            text-align: right;
            color: $gray-light;
        }
        .login-input {
            border-radius: 5px;
            text-align: left;
            color: $gray-light;
            display: flex;                       
            max-width: 20em;
            font-size: 1em;
        }
        .login-btn {
            text-align: center;
            background-color: $gray-light;
            color:$white;
            border-radius: 5px;
            border: unset;
            font-size: 1em;
            padding: 0.5em 1em;

        }
        .forgot-pass-txt {
            color: $white;
        }
        .forgot-pass {
            color: $red;
        }
    }
}