.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: adineue-light;
    color: $gray;

    .logo-page-container {
        max-width: 10em;
        margin-top: 1em;
    }

    .login-wrapper {
        border-radius: 5px;
        padding: 0.625em;
        opacity: 0.8;
        margin: 1em 0;
    }

    .login-title {
        display: flex;
        justify-content: center;
        margin: 1.5em 0;
        color: $gray;
        font-size: 2rem;
    }

    .login-form {
        display: flex;
        flex-direction: column;
        place-items: center;
        gap: 2em;
        max-width: 20em;
        font-size: 1rem;
        border-radius: 5px;
        text-align: left;
        color: $gray;

        ::placeholder {
            color: $white;
            opacity: 1;
            /* Firefox */
            // padding-inline-start: 10px;
        }

        :-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: $white;
        }

        ::-ms-input-placeholder {
            /* Microsoft Edge */
            color: $white;
        }

        .login-input {
            border: unset;
            border-radius: 40px;
            width: 30em;
            height: 3em;
            background-color: $gray;
            color: $white;
            max-width: 20em;
            font-size: 1rem;
            padding: 0.5em;

        }

        .login-btn {
            text-align: center;
            border-radius: 40px;
            width: 10em;
            font-size: 1rem;
            height: 3em;
            background-color: $gray;
            color: $white;
            max-width: 20em;
            border: unset;

        }

        .forgot-pass-txt {
            color: $white;
        }

        .forgot-pass {
            color: $red;
        }
    }
}