.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $gray;
    font-family: adineue-light;

    .signup-title {
        display: flex;
        justify-content: center;
        margin: 1.5em 0;
        color: $gray;
        font-size: 2rem;
    }

    .signup-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 3fr 1fr;
        grid-template-areas:
            "left right"
            "left right"
            "left right"
            "bottom bottom";
        font-size: 1rem;
        color: $gray;
        margin-bottom: 2em;
    }

    ::placeholder {
        color: $white;
        opacity: 1;
        /* Firefox */
        // padding-inline-start: 10px;
    }

    :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $white;
    }

    ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: $white;
    }

    .signup-small-container-right {
        grid-area: right;
    }

    .signup-small-container-left {
        grid-area: left;
    }

    .signup-small-container-right,
    .signup-small-container-left {
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin: 1em;

        .approvedEmail-container,
        .approvedMobile-container {
            display: flex;
            place-items: center;
            // width: 50%;
            padding-inline-start: 0.3em;
        }
    }

    .signup-input {
        // width: 30em;
        height: 3em;
        font-size: 1rem;
        padding: 0.3em;
        border-radius: 40px;
        border: unset;
        font-size: 1rem;
        color: $white;
        background-color: $gray;
        cursor: pointer;

    }

    .signup-btn-container {
        grid-area: bottom;
        display: flex;
        justify-content: center;

        .signup-btn {
            text-align: center;
            border-radius: 40px;
            width: 10em;
            font-size: 1rem;
            height: 3em;
            background-color: $gray;
            color: $white;            
            border: unset;
            cursor: pointer;
        }
    }

    .signup-checkbox-input {
        // width: 1em;
        border: 1px solid $gray;
    }

    .signup-checkbox-label {
        // width: 220px;
    }
}

// input:checked {

//     filter: invert(50) hue-rotate(290deg) brightness(1.7);
//   }