* {
    box-sizing: border-box;
}


html {}

body {
    margin: unset;
    font-family: adineue-light;

    &.rtl {
        direction: rtl;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: unset;
}


section,
main,
footer {}

img {
    width: 100%;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}