@font-face {
    font-family: adineue-light;
    src: url(../../font/adineue/adineue_PRO_KZ_Light.ttf);
}

@font-face {
    font-family: adineue-bold;
    src: url(../../font/adineue/adineue_PRO_KZ_Bold.ttf);
}

@font-face {
    font-family: adineue-pro;
    src: url(../../font/adineue/adineue_PRO.ttf);
}

@font-face {
    font-family: adineue-pro-bold;
    src: url(../../font/adineue/adineue_PRO_Bold.ttf);
}