.footer-container {
    display: flex;
    color: $red;
    background-color: $gray;
    // color: $blue;
    font-size: 22px;
    font-family: inter-extralight;
    font-weight: 800;
    bottom: 0;
}