.filter-container {
    font-family: inter-extralight;
}
.filter-label {
    background: $gray-dark;
    border-radius: 50px;

}

.search-filter {
    background: $gray-dark;
    border-radius: 50px;
    border: unset;
}